*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background:#003a97;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

}

.calculadora{

    background:rgb(158, 147, 255);
    padding:30px;

    width:350px;

    border-radius:10px;

    box-shadow:0px 0px 10px rgba(0, 21, 255, 0.2);

}

h1{

    text-align:center;
    margin-bottom:20px;

}

label{

    display:block;
    margin-top:15px;

}

input{

    width:100%;
    padding:10px;
    margin-top:5px;

}

.botoes{

    display:flex;
    justify-content:space-between;

    margin-top:20px;

}

button{

    width:48%;
    padding:10px;

    cursor:pointer;

}

#resultado{

    margin-top:25px;
    text-align:center;
}